<div class="flightDropdown" >
  <p-dropdown [style]="{'width':'80%'}"
  scrollHeight="400px" [options]="flightOptions" [(ngModel)]="selectFlightOption" placeholder="Select a Flight" optionLabel="name" [showClear]="true"></p-dropdown>
  <p style="text-align: center;">Selected flight: {{selectFlightOption ? selectFlightOption.name : 'none'}}</p>
  
</div>


<p-table
  [columns]="cols"
  [value]="passengers"
  selectionMode="single"
  [(selection)]="selectedPassenger"
  (onRowSelect)="onRowSelect($event)"
  [paginator]="true"
  [rows]="5"
>
  <ng-template pTemplate="caption">
    List of Passengers
  </ng-template>
  <ng-template pTemplate="header" let-columns>
    <tr>
      <th *ngFor="let col of columns" [pSortableColumn]="col.field">
        {{ col.header }}
        <p-sortIcon [field]="col.field"></p-sortIcon>
      </th>
    </tr>
  </ng-template>
  <ng-template pTemplate="body" let-rowData let-columns="columns">
    <tr [pSelectableRow]="rowData">
      <td *ngFor="let col of columns">
        {{ rowData[col.field] }}
      </td>
    </tr>
  </ng-template>
  <ng-template pTemplate="summary" let-rowData>
    <div style="text-align: left;">
      <button
        type="button"
        pButton
        icon="pi pi-plus"
        (click)="showDialogToAdd()"
        label="Add"
      ></button>
    </div>
  </ng-template>
</p-table>

<p-dialog
  header="Passenger Details"
  [(visible)]="displayDialog"
  [focusOnShow]="false"
  showEffect="fade"
  [modal]="true"
  [style]="{ width: '300px' }"
>
  <div class="p-grid ui-fluid" *ngIf="passenger">
    <div class="p-col-4">
      <label for="id">Passenger ID</label>
    </div>
    <div class="p-col-8">
      <input
        pInputText
        id="id"
        [(ngModel)]="passenger.id"
        autofocus
      />
    </div>

    <div class="p-col-4">
      <label for="passengerName">Passenger Name</label>
    </div>
    <div class="p-col-8">
      <input
        pInputText
        id="passengerName"
        [(ngModel)]="passenger.passengerName"
        autofocus
      />
    </div>

    <div class="p-col-4">
      <label for="address">Address</label>
    </div>
    <div class="p-col-8">
      <input
        pInputText
        id="address"
        [(ngModel)]="passenger.address"
        autofocus
      />
    </div>

    <div class="p-col-4">
      <label for="dob">DOB</label>
    </div>
    <div class="p-col-8">
      <input pInputText id="dob" [(ngModel)]="passenger.dob" autofocus />
    </div>

    <div class="p-col-4">
      <label for="passport">Passport</label>
    </div>
    <div class="p-col-8">
      <input
        pInputText
        id="passport"
        [(ngModel)]="passenger.passport"
        autofocus
      />
    </div>

    <div class="p-col-4">
      <label for="seatNo">Seat No</label>
    </div>
    <div class="p-col-8">
      <input pInputText id="seatNo" [(ngModel)]="passenger.seatNo" autofocus />
    </div>

    <div class="p-col-4">
      <label for="checkedIn">Checked-In</label>
    </div>
    <div class="p-col-8">
      <p-dropdown id="checkedIn" [options]="yesOrNo"  [(ngModel)]="passenger.checkedIn"   [showClear]="true" ></p-dropdown>

    </div>

    <div class="p-col-4">
      <label for="wheelChairRequired">Wheel Chair</label>
    </div>
    <div class="p-col-8">
     

      <p-dropdown id="wheelChairRequired" [options]="yesOrNo"  [(ngModel)]="passenger.wheelChairRequired"   [showClear]="true" ></p-dropdown>

    </div>

    <div class="p-col-4">
      <label for="withInfant">With Infant</label>
    </div>
    <div class="p-col-8">
      <p-dropdown id="withInfant" [options]="yesOrNo"  [(ngModel)]="passenger.withInfant"   [showClear]="true" ></p-dropdown>

    </div>

    <div class="p-col-4">
      <label for="ancillaryService">Ancillary Service</label>
    </div>
    <div class="p-col-8">
     

      <p-dropdown id="ancillaryService" [options]="ancillaryServiceOption"  [(ngModel)]="passenger.ancillaryService"   [showClear]="true" ></p-dropdown>

      
    </div>

    <div class="p-col-4">
      <label for="meal">Meal</label>
    </div>
    <div class="p-col-8">

      <p-dropdown id="meal" [options]="mealServiceOption"  [(ngModel)]="passenger.meal"   [showClear]="true" ></p-dropdown>
    </div>

    <div class="p-col-4">
      <label for="product">Product</label>
    </div>
    <div class="p-col-8">
      <p-dropdown id="product" [options]="productOption"  [(ngModel)]="passenger.product"   [showClear]="true" ></p-dropdown>

    </div>
  </div>
  <p-footer>
    <div class="ui-dialog-buttonpane ui-helper-clearfix">
      <button
        type="button"
        pButton
        icon="pi pi-times"
        (click)="delete()"
        label="Delete"
      ></button>
      <button
        type="button"
        pButton
        icon="pi pi-check"
        (click)="save()"
        label="Save"
      ></button>
    </div>
  </p-footer>
</p-dialog>
