<p-table
  [columns]="cols"
  [value]="flights"
  selectionMode="single"
  [(selection)]="selectedFlight"
  (onRowSelect)="onRowSelect($event)"
  [paginator]="true"
  [rows]="5"
>
  <ng-template pTemplate="caption">
    List of Flights
  </ng-template>

  <ng-template pTemplate="header" let-columns>
    <tr>
      <th *ngFor="let col of columns" [pSortableColumn]="col.field">
        {{ col.header }}
        <p-sortIcon [field]="col.field"></p-sortIcon>
      </th>
    </tr>
  </ng-template>
  <ng-template pTemplate="body" let-rowData let-columns="columns">
    <tr [pSelectableRow]="rowData">
      <td *ngFor="let col of columns">
        {{ rowData[col.field] }}
      </td>
    </tr>
  </ng-template>
  <ng-template pTemplate="summary" let-rowData>
    <div style="text-align: left;">
      <button
        type="button"
        pButton
        icon="pi pi-plus"
        (click)="showDialogToAdd()"
        label="Add"
      ></button>
    </div>
  </ng-template>
</p-table>

<p-dialog
  header="Flight Details"
  [(visible)]="displayDialog"
  [focusOnShow]="false"
  showEffect="fade"
  [modal]="true"
  [style]="{ width: '300px' }"
>
  <div class="p-grid ui-fluid" *ngIf="flight">
    <div class="p-col-4">
      <label for="flightNo">Flight No</label>
    </div>
    <div class="p-col-8">
      <input pInputText id="flightNo" [(ngModel)]="flight.flightNo" autofocus />
    </div>
    <div class="p-col-4">
      <label for="flightName">Flight Name</label>
    </div>
    <div class="p-col-8">
      <input pInputText id="flightName" [(ngModel)]="flight.flightName" />
    </div>
    <div class="p-col-4">
      <label for="departureTime">Departure Time</label>
    </div>
    <div class="p-col-8">
      <input pInputText id="departureTime" [(ngModel)]="flight.departureTime" />
    </div>
    <div class="p-col-4">
      <label for="arrivalTime">Arrival Time</label>
    </div>
    <div class="p-col-8">
      <input pInputText id="arrivalTime" [(ngModel)]="flight.arrivalTime" />
    </div>

    <div class="p-col-4">
      <label for="source">Source</label>
    </div>
    <div class="p-col-8">
      <input pInputText id="source" [(ngModel)]="flight.source" />
    </div>

    <div class="p-col-4">
      <label for="arrivalTime">Arrival Time</label>
    </div>
    <div class="p-col-8">
      <input pInputText id="arrivalTime" [(ngModel)]="flight.arrivalTime" />
    </div>

    <div class="p-col-4">
      <label for="details">Details</label>
    </div>
    <div class="p-col-8">
      <input pInputText id="details" [(ngModel)]="flight.details" />
    </div>
  </div>
  <p-footer>
    <div class="ui-dialog-buttonpane ui-helper-clearfix">
      <button
        type="button"
        pButton
        icon="pi pi-times"
        (click)="delete()"
        label="Delete"
      ></button>
      <button
        type="button"
        pButton
        icon="pi pi-check"
        (click)="save()"
        label="Save"
      ></button>
    </div>
  </p-footer>
</p-dialog>
