<header>
  <mat-toolbar class="mat-elevation-z8">
    <span><mat-icon>flight_takeoff</mat-icon> Airline India</span>

    <div class="spacer"></div>
    <button mat-button routerLink="/home">Home</button>
    <button mat-button routerLink="/flights">Flights</button>
    <button mat-button routerLink="/passengers">Passengers</button>
    <button mat-button routerLink="/seats">Seats</button>
    <button mat-button routerLink="/ancillary">Ancillary Services</button>
    <button mat-button routerLink="/meals">Meals</button>
    <button mat-button routerLink="/products">Products</button>
    <button mat-button routerLink="/login">Login</button>
    <a mat-raised-button color="accent" routerLink="/signUp">Sign Up</a>
  </mat-toolbar>
</header>
