
  <p-table
    [columns]="cols"
    [value]="seats"
    selectionMode="single"
    [(selection)]="selectedSeat"
    (onRowSelect)="onRowSelect($event)"
    [paginator]="true"
    [rows]="5"
  >
    <ng-template pTemplate="caption">
      List of Seats
    </ng-template>
    <ng-template pTemplate="header" let-columns>
      <tr>
        <th *ngFor="let col of columns" [pSortableColumn]="col.field">
          {{ col.header }}
          <p-sortIcon [field]="col.field"></p-sortIcon>
        </th>
      </tr>
    </ng-template>
    <ng-template pTemplate="body" let-rowData let-columns="columns">
      <tr [pSelectableRow]="rowData">
        <td *ngFor="let col of columns">
          {{ rowData[col.field] }}
        </td>
      </tr>
    </ng-template>
    <ng-template pTemplate="summary" let-rowData>
      <div style="text-align: left;">
        <button
          type="button"
          pButton
          icon="pi pi-plus"
          (click)="showDialogToAdd()"
          label="Add"
        ></button>
      </div>
    </ng-template>
  </p-table>

  <p-dialog
    header="Seat Details"
    [(visible)]="displayDialog"
    [focusOnShow]="false"
    showEffect="fade"
    [modal]="true"
    [style]="{ width: '300px' }"
  >


    <div class="p-grid ui-fluid" *ngIf="seat">
      <div class="p-col-4">
        <label for="id">Seat No</label>
      </div>
      <div class="p-col-8">
        <input pInputText id="id"  [(ngModel)]="seat.id" autofocus />
      </div>

      <div class="p-col-4">
        <label for="seatType">Seat Type</label>
      </div>
      <div class="p-col-8">
        <p-dropdown id="seatType" [options]="seatTypeOption"  [(ngModel)]="seat.seatType"   [showClear]="true"></p-dropdown>
      </div>

      <div class="p-col-4">
        <label for="passengerId">Passenger ID</label>
      </div>
      <div class="p-col-8">
        <input pInputText id="passengerId" [(ngModel)]="seat.passengerId" />
      </div>

      <div class="p-col-4">
        <label for="passengerName">Passenger Name</label>
      </div>
      <div class="p-col-8">
        <input pInputText id="passengerName" [(ngModel)]="seat.passengerName" />
      </div>

      <div class="p-col-4">
        <label for="checkedIn">Checked-In</label>
      </div>
      <div class="p-col-8">
        
        <p-dropdown id="checkedIn" [options]="yesOrNo"  [(ngModel)]="seat.checkedIn"   [showClear]="true"></p-dropdown>
      </div>

      <div class="p-col-4">
        <label for="wheelChairRequired">wheel Chair </label>

      </div>
      <div class="p-col-8">
      
        <p-dropdown id="wheelChairRequired" [options]="yesOrNo"  [(ngModel)]="seat.wheelChairRequired"   [showClear]="true"></p-dropdown>

      </div>



      <div class="p-col-4">
        <label for="withInfant">With Infant</label>
      </div>
      <div class="p-col-8">
        <p-dropdown id="withInfant" [options]="yesOrNo"  [(ngModel)]="seat.withInfant"   [showClear]="true"></p-dropdown>


      </div>
    </div>
    <p-footer>
      <div class="ui-dialog-buttonpane ui-helper-clearfix">
        <button
          type="button"
          pButton
          icon="pi pi-times"
          (click)="delete()"
          label="Delete"
        ></button>
        <button
          type="button"
          pButton
          icon="pi pi-check"
          (click)="save()"
          label="Save"
        ></button>
      </div>
    </p-footer>
  </p-dialog>

